/* Desktop/pc/laptop */

@media(min-width:1024px){
    
    
}
/* Tablets and ipads */
@media(min-width:769px){
    .col3-serv {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col3-serv .col {
       
        width:300px;
        margin-top: 80px;   
     
    }
    /* .col3-serv .col img {
        width: 300px;
        height: 200px;
        justify-content: space-between;
    } */
    /* .ftr-col3 {
        margin-top: 53px;
        margin-left: 10px;
        width: 100%;
        padding-left: 0px;
    }   
    .col3-ftr{
        width:300px;
        height:300px;
        margin-right: 0px;
    } */
    .contact {
        margin:0px;
    }
    /* .test-head h1 {

    } */
    .testcol2 {
      
        margin: 34px auto;
        width:100%;
       
    }
    .test-col .box-text {
           
       
    }
    .brdr-btn{
        /* margin-top: 30px;  */
        /* text-align: left; */
        /* margin-left: 20px; */
    }
    /* .head-text h1 {
      font-size: 40px;
      /* text-align: left; */
      /* margin-top: -50px; */
      
    /* }  */
    .head-text p {
        /* text-align: left; */
        /* font-size: 20px;
        margin-left: 40px; */
    }
    
}
/* Mobile phones */
@media (max-width:768px) {

    .hdrsec .logo img {
       
        margin-left: 124px;
        margin-top: 69px;
    }
    .hdrtxt h1 {
        font-size: 47px;
    }

    .col3-serv {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin:auto;
        margin-top: -118px;
    }
    .one-sec {
        margin: 20px auto;
    }
    .col-txt p {
        color: white;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
    .facility {
        margin-top: 713px;
        }

        .about{
            
        }

    .col4-sec {
        flex-wrap:wrap;
        height:auto;
        justify-content: space-between;
        }

    
    .col4-sec .col {
        height: 200px;
        margin: 20px;
        width: 200px;
        
    }

    .col4-sec .col img {
        width: 100%;
        height: 150px;
           }
     .col-abt {
     width: 285px;
    margin: auto;
    }
        }
.col4-sec .col h3 {
   font-size: medium;
}
.col4-sec .col p {
       font-size: small;
}

.main-head p {
    margin-bottom: 30px;
    margin-top: 20px; 
    font-size: 20px;  
}
.head-text h1 {
    margin-bottom: 50px;
    margin-right: 10px;
}
.head-text p{
    margin-top:50px;
}

.brdr-btn {
    margin: 0 1px;
    padding: 11px;
    margin-top: 24px;
}

.contact{
    /* margin-top: auto; */
}
.test-head {
    
    margin:  70px auto;
}
.testcol2 {
    display:flex;
    flex-wrap: wrap ;
    /* margin: 0px 122px;   */
    /* width:100%; */
}
.test-col{
    margin-bottom: 30px;
    margin-left: 20px;
}
/* .test-col .box-text {
    text-align: justify;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 12px;
} */
.test-col h5 {
    font-family: 'Roboto', sans-serif;
    margin-top: 28px;
}
.ftr-col3 {
    flex-wrap:wrap;
    height:auto;      
}
.col3-ftr h2{   
    font-size: 25px;
}
.col3-ftr p{   
    font-size: 15px;
}


@media(max-width:577){

}

@media(max-width:468px ){
 
    .hdrsec .logo img {
        margin-left: 90px; 
    } 
    .hdrsec .hdrtxt h1 {
        font-size: 40px;
    }
    .hdrbtn {
        background: #FC4539;
        margin: -10px 48px;
        padding: 10px;
        width: 239px;
        height: 57px;
        color: #DCDCDC;
        font-size: 23px;
        border-radius: 50px;
    }

    .col3-serv {
       width:100%;
       margin: -80px  0px auto;
        justify-content: center;
    }
    .col3-serv .col-s img {
        width: 100%;
        height: 200px;
    }

    .facility {
        /* margin-top: 819px; */
    }
    .line {
        margin:auto;
    }
    .col-txt {
        margin-top: 10px;
        margin-left: 0;
    }
    .col-txt .color-btn {
        margin-left: 113px;
        /* margin:auto; */
        margin-top: 2px;
    }
    .col-txt h3 {
        text-align: center;
        margin-top: 20px;
    }
    .col-txt p {
        margin: auto;
        font-size: 20px;
        text-align: center;
        width: 100%;

    }
    .col4-sec .col-abt p {
        font-size: 25px;   
    }
   
    .col4-sec {
        
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-head p {
        margin-bottom: 30px;
        margin-top: 38px;
        font-size: 20px;
}
    }
    .col4-sec .col {
        
       
    }

    .col4-sec .col h3 {
        
        width: 150px;
        font-size: 23px;
        margin-left: 19px;
        margin-top: -22px;
    }
    .col4-sec .col p {

        margin-left: 18px;
    }
    
        .content {
            margin-top: 0px;
        }
    
    .contact {
        
        
    }

    .head-text h1 {
        font-size: 30px;
        text-align: center;
        margin-left: -6px;
        margin-top: -25px;
       
    }

        .head-text p {
            font-size: 20px;
            width:auto;
            margin-top: -15px;
            margin-left: -6px;
}
                  
    .brdr-btn {        
        /* margin: 0 50px;
        padding: 0px;
        margin-top: 62px; */
    }
    .test-head{
        align-items: center;
        margin-left: 8px;
    }
    
    .test-head h1{
          
           
    }
    /* .test-col{
        width: 100%;
        margin:auto;
    } */
    .test-col h5 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-weight: 700;
    }
    /* .testcol2{
        display: flex;
        flex-wrap: wrap;
        width:auto;
        margin-bottom: 30px;    
    }*/
    /* .test-col .box-text {
        width:100%; ;
        margin:0px;
        font-size: 17px;
        display: flex;   
    }  */

    .ftr-col3 {
        /* flex-wrap: wrap;
        justify-content: center; */
    }
    .col3-ftr p {
        font-size: 16px;
        width: 253px;
        margin-bottom: -10px;
    }

    .footer-base .end-ftr p {
        font-size: 16px;
        margin:auto;
        width:auto;
        line-height: 2;
        margin-top: 6px;
        
    }

    @media(max-width:320px ){
        .hdrsec .logo img {
            width: 102px;
           margin-left:90px;
        }

        .hdrsec .hdrtxt h1 {
            font-size: 42px;
            margin-left:20px;
            color: #DCDCDC;
            font-weight: 300; 
        }
        .hdrbtn {
         
            margin-left:30px;
            padding: 10px;
            width: 80%;
            height: auto;
            color: #DCDCDC;
            font-size: 23px;
            border-radius: 50px;
        }

        .col3-serv {
           
            margin: -92px 0px auto;
            justify-content: center;
        }

        .col-txt {
            
            margin: 30px auto;
        }

        .col-txt h3 {
            text-align: center;
        }
        .col-txt p {
            margin: auto;
            font-size: 13px;
            text-align: center;
            width: 80%;
        }

        .col-txt .color-btn {
            margin-left: 60px;
        }

        .col4-sec .col-abt img {
            width: 200px;
            height: 200px;
        }
        .col-abt {
           
            margin-bottom: -300px;
        }
        .col-abt .abt-info {
            bottom: 302px;
            left: 0;
            position: absolute;
            text-align: left;
        }
        
        .col4-sec .col-abt h3 {
           
            width: 96px;
            font-size: 16px;
        }
        .col4-sec .col-abt p {
            font-size: 14px;
        }

       
        .brdr-btn {
            margin: 0px 23px;
            padding: 11px;
            margin-top: 90px;
        }

            .head-text h1 {    
                font-size: 24px;
                margin-top: 0px;
            }
        .head-text p {
            font-size: 18px;
            margin-top: 10px;
        }
        .col3-serv .col-s {
           
            width: 212px;
        }
        .col-s .col-info {
           
            width: 220px;
           
        }
        
        .head-text h1{
          font-size:28px;
        }

        .test-head {
           
            margin-left: 8px;
        }
        
        .testcol2 {
           
            /* width: 80%;
            margin-bottom: 30px; */
        }
        .test-col .box-text {
           
            line-height: 2;
        }
        
        .col3-ftr {
          
            margin-left: 50px;
            font-size: 16px;
        }
        .cont-des p {
            width: 140px;

        }
        .end-ftr{
           
        
        }
        .footer-base .end-ftr p {
            font-size: 12px;
            margin:auto;
            width:auto;
            line-height: 1;
            margin-top: 24px;
            
        }
    }